* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 1rem 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-detail {
    background-color: lightgray;
}